@import "tailwindcss";

:root {
  --color-skin: hsl(21, 20%, 90%);
  --color-fuchsia: hsl(295, 100%, 36%);
  --color-fuchsia-dark: hsl(295, 100%, 26%);
  --color-fuchsia-light: hsl(295, 100%, 46%);
  --color-pink: hsl(328, 92%, 58%);
  --color-pink-dark: hsl(328, 92%, 48%);
  --color-pink-light: hsl(328, 92%, 68%);
  --color-purple: hsl(276, 100%, 43%);
  --color-purple-dark: hsl(277, 100%, 40%);
  --color-purple-light: hsl(277, 100%, 60%);
  --color-primary: var(--color-fuchsia);
  --color-secondary: var(--color-pink);
  --color-accent: var(--color-purple);
  --background: hsl(328, 92%, 97%);
  --foreground: hsl(295, 100%, 36%);
  --font-main: 'Quicksand Variable', sans-serif;
  --font-heading: 'Merriweather Sans Variable', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-fuchsia: var(--color-fuchsia);
  --color-fuchsia-dark: var(--color-fuchsia-dark);
  --color-fuchsia-light: var(--color-fuchsia-light);
  --color-pink: var(--color-pink);
  --color-pink-dark: var(--color-pink-dark);
  --color-pink-light: var(--color-pink-light);
  --color-skin: var(--color-skin);
  --color-purple: var(--color-purple);
  --color-purple-dark: var(--color-purple-dark);
  --color-purple-light: var(--color-purple-light);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-acent);
  --font-main: var(--font-main);
  --font-heading: var(--font-heading);
}

:root{
  min-width: 100dvw;
  scroll-behavior: smooth;
  position: relative;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
